.tag {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-radius: 11px;
  background-color: white;
  padding: 3px 8px;
  border: 0.5px solid #c4c4c4;
  color: $color-primary;
  font-weight: 500;

  &:hover {
    background-color: $color-secondary;
    border-color: transparent;
    color: white;
  }
}
